{% load i18n ui %}
<form action="{% url 'set_language' %}" method="post" class="lang-form">
  {% icon "globe" 16 "menu-icon" %}
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.get_full_path }}">
  <select name="language" onchange="this.form.submit()" aria-label="{% translate 'Language' %}">
    {% get_current_language as CURRENT %}
    {% get_available_languages as LANGUAGES %}
    {% for code, name in LANGUAGES %}
      <option value="{{ code }}" {% if code == CURRENT %}selected{% endif %}>{{ code|upper }}</option>
    {% endfor %}
  </select>
</form>
